.storybook_button {
  width: 100%;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook_button__primary {
  color: white;
  background-color: #444bff;
  font-weight: 700;
}
.storybook_button__disabled {
  background-color: lightgray;
  cursor: default;
  font-weight: 400;
  font-size: 16px;
}
.storybook_button .price {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.storybook_button__bigBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 14px 0;
}
.storybook_button__bigThin {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 14px 0;
}
.storybook_button__smallBold {
  font-weight: 700;
  font-size: 16px;
  padding: 8px 0;
  line-height: 24px;
}
